body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: white;
    color: #333;
    transform: scale(1.1);
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin: 40px 0;
  }
  
  h2 {
    font-size: 36px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li h3 {
    margin: 0;
  }
  
  li p {
    margin: 10px 0;
  } 
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  



   body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.profile img {
    width: 200px;
    height: auto;
    margin-top: 50px;
    border-radius: 50%;
    border: 10px solid #66BFBF;

}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
} 

.circle-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.circle-icon.small {
  width: 50px;
  height: 50px;
}
.circle-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #068481;
  color: #333;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 9999;
}
.home-button:hover {
  background-color: #ddd;
}

/* .contact {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.contact h2 {
  margin-bottom: 10px;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.contact label {
  margin-bottom: 5px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.contact input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #45a049;
}
 */
 /* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.container {
  display: flex;
  position: absolute;
  left: 930px;
  top: 200PX;
   /* float: left;  */
}
.contact {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

/* Rest of the CSS code remains the same */
.contact h2 {
  margin-bottom: 10px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 5px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.contact input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background-color: #45a049;
}


.feedback-section {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

.feedback-section h2 {
  margin-bottom: 10px;
}

.feedback-section form {
  display: flex;
  flex-direction: column;
}

.feedback-section label {
  margin-bottom: 5px;
}

.feedback-section textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.feedback-section input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-section input[type="submit"]:hover {
  background-color: #45a049;
}



/* gdgdgdgd */
.feedback-section {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

.feedback-section h2 {
  margin-bottom: 10px;
}

.feedback-section form {
  display: flex;
  flex-direction: column;
}

.feedback-section label {
  margin-bottom: 5px;
}

.feedback-section textarea {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.feedback-section input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-section input[type="submit"]:hover {
  background-color: #45a049;
}

.column {
  /* float: left; */
  width:100%;
  column-count: 4;
  column-gap: 100px;
  
}
.custom-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #2bc4ad;
}
.SHOW-MORE {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.SHOW-MORE:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
} 

.column-1 {
  /* float: left; */
  width:70%;
  column-count: 3;
  column-gap: 100px;
  
}
.custom-headings {
  font-size: 1.5em;
  font-weight: bold;
  color: #2bc4ad;
}

